<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        {%if messages%}
        <ul class="messages">
            {%for message in messages%}
            <li {%if message.tag%} class="{{message.tag}}" {%endif%}>
                {{message}}
            </li>
            {%endfor%}

        </ul>
        {%endif%}
    </div>
    <div>
        <h2>Update Branch Info</h2>
    </div>
    <div>
        <form method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Save</button>
            <div><a href="{%url 'list_bran'%}">Cancel</a> </div>
        </form>
    </div>
</div>
</body>
</html>