<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%extends 'base.html'%}
{%block content%}
{%load static%}
 <div class="container-fluid">

     <div class="row row-col-3 g-4">
         <div class="col-3">
             <div class="card" style="width:15em;height:15em;">
                 <div><img src="{{ emp.emp_photo.url}}"></div>
                 <div class="card-body">
                     <div><a href="{% url 'edit_emp' emp.emp_id%}">Edit</a> </div>
                 </div>
             </div>
         </div>
         <div class=" col-5">
             <div class="card" style="width:35em;height:auto;">
                 <div class="card-body">
                     <div class="card-title  p-2">
                       <h5>Personal Information</h5>
                     </div>
                     <div class="row">
                         <div class="row g-1 col-12">
                            <div class="col-4  p-1"><label class=" ">Name :</label></div>
                            <div class=" col-8 border border-2 rounded-2 p-2 ">{{emp.emp_first_name|title}} {{emp.emp_last_name|title}}</div>
                         </div>
                         <div class="row g-1 col-12">
                             <label class="col-4  p-1">Father Name :</label>
                             <div class="col-8 border border-2 rounded-2 p-2">{{emp.emp_father_name|title}}</div>

                         </div>
                         <div class="row g-1 col-12">
                              <label class="col-4 p-1">Mother Name :</label>
                             <div class="col-8 border border-2 rounded-2 p-2">{{emp.emp_mother_name|title}}</div>
                         </div>
                         <div class="row g-1 col-12">
                              <label class="col-4 p-1">Address :</label>
                             <div class="col-8 border border-2 rounded-2 p-3" >{{emp.emp_address}}</div>
                         </div>
                         <div class="row g-1 col-12">
                              <label class="col-4 p-1">Married Status:</label>
                             <div class="col-8 border border-2 rounded-2 p-2">{{emp.emp_married}}</div>
                         </div>
                          <div class="row g-1 col-12">
                              <label class="col-4 p-1">Gender</label>
                              <div class="col-8 border border-2 rounded-2 p-2">{{emp.emp_gender}}</div>
                          </div>
                          <div class="row g-1 col-12">
                              <label class="col-4 p-1">Date of Birth</label>
                              <div class="col-8 border border-2 rounded-2 p-2">{{emp.emp_bod}}</div>
                          </div>
                          <div class="row g-1 col-12">
                              <label class="col-4 p-1">Blood Group</label>
                              <div class="col-8 border border-2 rounded-2 p-2">{{emp.emp_blood}}</div>
                          <div>

                     </div>

                 </div>
             </div>
         </div>

     </div>





 </div>
         <div class="col-4 " style="">
                 <div class="card" style="width:auto;height;20">
                     <div class="card-body">
                         <div class="card-title p-2">
                             <h5>Job Description</h5>
                         </div>
                         <div class="row g-1">
                             <div class="row g-1 col-12">
                                 <div class="col-4 p-1"> Designation :</div>
                                 <div class="col-8 border border-2 rounded p-2">{{emp.emp_job.job_name}}</div>
                             </div>
                             <div class="row col-12 g-1">
                                 <div class="col-4 p-1">Manager:</div>
                                 <div class="col-8 border border-2 rounded p-2">{{emp.emp_manager}}</div>
                             </div>
                             <div class="row col-12 g-1">
                                 <div class="col-4 p-1">Branch Name :</div>
                                 <div class="col-8 border border-2 rounded p-2">{{emp.emp_branch.bran_name}}</div>
                             </div>
                             <div class="row col-12 g-1">
                                 <div class="col-4 p-1">Location :</div>
                                 <div class="col-8 border border-2 rounded p-2">{{emp.emp_branch.bran_address}}</div>
                             </div>


                         </div>

                     </div>
                 </div>
         </div>
{%endblock%}
</body>
</html>